.features .glyphicon {
    font-size: 32px;
    /* color: red; */
    margin: 20px 0 0;
}
.quote {
    margin: 40px 0 20px;
}
.footer {
    margin: 40px 0 0;
    padding: 20px 0 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;

    width:100%;
    min-height: 100px;
}

/* 
Solution for footer not being pushed to bottom of page...

used this: https://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed 

Brenda's Hogwart repo solution explained here:
https://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed
*/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}
.main {
    flex: 1;
}

@media print, screen and (max-width: 480px) { 
    .navbar-brand { font-size: 17px;}
}